*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
:root{
    --ancho_article:9em;
    --alto_article:1em;
}
.circle{
    position:relative;
    top: 50px;
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    border: 1px solid black;
    position: relative;
    
}

article{
    position:absolute;
    width: var(--ancho_article);
    line-height: var(--alto_article);
    /* border: 1px solid red; */
    text-align: center;
    z-index: 100;
}



article:nth-child(1){
    top:calc(-150px - var(--alto_article));
    left: -4.5em;
}

article:nth-child(2){
    top: calc(-129px - var(--alto_article)/2);
    left: 75px;
}

article:nth-child(3){
    top: calc(-75px - var(--alto_article)/2);
    left: 129px;
}

/* .. */

article:nth-child(4){
    top: -var(--alto_article)/2;
    left: 150px;

}
/* .. */

article:nth-child(5){
    top:calc(75px - var(--alto_article)/2);
    left: 129px;
}
article:nth-child(6){
    top: calc(129px - var(--alto_article)/2);
    left: 75px;
}

article:nth-child(7){
    top: 150px;
    left: -4.5em;
}
article:nth-child(8){
    top: calc(129px - var(--alto_article)/2);
    left: calc(-129px - var(--ancho_article)*0.72222);
}


article:nth-child(9){
    top:calc(75px - var(--alto_article)/2);
    left: calc(-75px - 1.2777*var(--ancho_article));
}

/* .. */
article:nth-child(10){
    top: calc(0px - var(--alto_article)/2);
    left: calc(-150px - var(--ancho_article) );
}
/* .. */

article:nth-child(11){
    top: calc(-75px - .5em);    
    left: calc(-75px - 1.2777*var(--ancho_article));
}

article:nth-child(12){
    top: calc(-129px - var(--alto_article)/2);
    left: calc(-129px - 0.72222*var(--ancho_article));

}

.logo-wiki{
    z-index: 10;
    position: absolute;
    width: 200px;
    top: 50px;
    left: 50px;
    /* border: 1px solid red; */
}
#containerLogoWiki{
    z-index: 10;
}